/* boxSeleccionDeCliente */

.boxSeleccionDeCliente{
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxSeleccionDeCliente div{
    margin-top: 2vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxSeleccionDeCliente div select{
    width: 100%;
    height:35px;
}

.boxSeleccionDeCliente div label{
    width: 100%;
    text-align: left;
}

.boxSeleccionDeCliente h3{
    margin-top: 5vh;
}

.boxSeleccionDeCliente input{
    width:30vw;
    height: 3vw;
}

.boxSeleccionDeCliente ul{
    /*border:solid 1px black;*/
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    margin-top: 5px;
    width:30vw;
    max-height: 18vw;
    min-height: 18vw;
}

.boxSeleccionDeCliente ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 1px black;
    margin: 2px 10px 2px 10px;
    overflow-x: scroll;
}

.boxSeleccionDeCliente ul li p{
    height:100%;
    width:95%;
    margin:auto;
    text-align: justify;
}

.boxSeleccionDeCliente button{
    font-size: 25px;
    border-radius:10px;
    border:solid 1px black;
    background-color: rgb(42, 86, 207);
    width:30vw;
    height: 4vw;
}

/* boxTipoDeVenta */

.boxTipoDeVenta{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxTipoDeVenta h3{
    margin-top: 2vh;
}

.boxTipoDeVenta div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.boxTipoDeVenta div label{
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-align: left;
    width: 100%;
}

.boxTipoDeVenta div select{
    width: 100%;
}

.boxTipoDeVenta input{
    margin-top: 3vh;
    width: 70vw;
}

.boxButtomTipoDeVenta{
    margin-top: 5vh;
    width: 50vw;
}

.boxButtomTipoDeVenta button{
    border:solid 1px black;
    border-radius:5px;
    width:100%;
    margin: 10px 0px;
    padding: 10px;
}

.boxResumenDeVenta{
    margin-top: 30px;;
    width: 100%;
    display: flex;
}

.boxResumenDeVenta ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.boxResumenDeVenta ul p{
    width: 100%;
    margin: 0;
    padding: 0;
}

.boxResumenDeVenta ul div{
    margin: 0;
    padding: 0;
    background-color:rgb(230, 230, 230);
    border-top:1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: start;
}

.boxResumenDeVenta ul div li{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 5px 0px 5px 15px;
    border-bottom: solid 1px rgb(205 205 205);
    width: 100%;
}

.boxResumenDeVenta ul div li p{
    width: 200px;
    margin: 0;
    padding: 0;
}