*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display:none;
}

.containt100{
  height:90vh;
  width:100vw;
}

.centrado{
  display: flex;
  justify-content:center;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  padding-left: 10px; 
}

.hoverPointer:hover{
  cursor: pointer;
}